/* Write your CSS here */
.list-item {
  list-style-type: none;
  width: 50%;
  margin-bottom: 12px;
}

.denomination-button {
  height: 32px;
  width: 96%;
  background-color: #382f5a;
  color: #d4d2db;
  border: 1px solid #c4c4c4;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
